// src/sections/Plataformas/Plataformas.scss
@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.plataformas {
  padding: 10rem 0;
  background-color: $white;
  position: relative;

  &__header {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__title {
    font-family: $font-primary;
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 350;
    letter-spacing: 0.15em;
    margin-bottom: 4rem;
    color: $black;
    padding: 1.5rem 4rem;
    /*
    border: 2px solid $black;
    border-radius: 50px;
    */
    display: inline-block;
    text-transform: uppercase;
  }

  &__line {
    width: 100%;
    max-width: 1400px;
    height: 3px;
    background-color: map-get($colors, 'hype');
    margin: 0 auto;
    transform-origin: center;
  }

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  &__image {
    width: 100%;
    max-width: 1200px;
    height: auto;
    object-fit: contain;
    
    // Opcional: si quieres que la imagen tenga un efecto hover
    transition: transform $transition-base;
    
    &:hover {
      transform: scale(1.02);
    }
  }

  // Responsive
  @include responsive(tablet) {
    padding: 8rem 0;

    &__header {
      margin-bottom: 4rem;
    }

    &__content {
      padding: 0 3rem;
    }
  }

  @include responsive(mobile) {
    padding: 6rem 0;

    &__title {
      font-size: clamp(2.5rem, 4vw, 3.5rem);
      padding: 1.2rem 3rem;
    }

    &__content {
      padding: 0 2rem;
    }

    &__image-wrapper {
      margin-top: 3rem;
    }
  }
}